/* FONTS */

/* Load Equity Text A to be used as the body text font. */
@font-face {
    font-family: "Equity";
    src: url("/assets/fonts/Equity Text A Regular.otf")
}

/* Load Equity Caps A to be used as the header and link text font. */
@font-face {
    font-family: "Equity Small Caps";
    src: url("/assets/fonts/Equity Caps A Regular.otf")
}