.current {
  color: #a6a1e0;
}

body {
    background-image: radial-gradient(#f0d1f0 8%, transparent 8%),
    radial-gradient(#a6a1e0 8%, transparent 8%),
    radial-gradient(#b0e0b8 8%, transparent 8%),
    radial-gradient(#80cced 8%, transparent 8%);
    background-color: #fff;
    background-position: 0 0, 100px 0px, 0px 100px, 100px 100px;
    background-size: 200px 200px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "Equity";
    color: #505050;
}

.header {
    background-color: white;
    margin: 0;
    padding: 2em;
}

.canvas {
    display: inline-block; 
    background-color: #fff;
    text-align: left; 
    margin-top: 0;
    border-style: solid;
    border-width: 0.5px;
    border-color: #505050;
    padding: 3em;
    border-radius: 2px;
    @media all and (max-width: 640px) {
        width: auto;
    }
    @media all and (min-width: 640px) {
        width: 600px;
    }
}

/* Set headings and links to use lowercase Equity Caps A. */
h1,
h2,
h3,
a {
    font-family: "Equity Small Caps";
//    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: normal;
}

h1 {
    margin-top: 0;
}

/* Links do not change colour after visiting and have no decoration. */
a {
    text-decoration: none;
    color: #505050;
}

//On hover, links within the text content will be underlined.
a:hover {
    text-decoration: underline;
}

//Space out the navigation buttons.
nav a:first-of-type {
    margin-left: 0;
}
nav a {
    margin-left: 2em;
}