<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0, width=device-width, user-scalable=no" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div class="header">
            <img src="/assets/logo.svg">
            <h1>That Darn Blog</h1>
            {% include navigation.html %}
        </div>
        <div class="canvas">
            {{ content }}
            
        </div>
        <div class="copyright">
            &#169; {{ site.time | date: '%Y' }} Zi Lun Wong
        </div>
    </body>
</html>